<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App.africa</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body>
    <nav>
        <div class="nav-wrapper container">
          <a href="./" class="brand-logo">App.africa</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="./api">API's Resource</a></li>       
          </ul>
        </div>
      </nav>
      <div class="container">
        <h1>Hello Africa, here we go!</h1>
      </div>
    
</body>
</html>